/* 
    Document   : style
    Created on : 5.4.2013, 10:02:12
    Author     : Matus Makovy
*/

body {
    padding:0;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
    font-size: 14px;
}

#wrapper { 
    width: 891px;
    background-color: #d3d3d3;
    margin:0 auto;
    padding:0;
    height: 100%;
}

#page {
    width: 90%;
    margin: 0 auto;    
}

#logo {
    font-size: 70px;
    line-height: 75px;
    text-align: center;
    color: #0d8ed0;
    background-color: transparent;
    background-image: url("images/logo.png");
    width: 313px;
    height: 83px;
    font-family: 'Days One', sans-serif;
    margin-bottom: 50px;
}

#menu {
    width: 100%;
    height: 50px;
}

#menu-left {
    background: url("images/menu-left.png") no-repeat;
    width:11px;
    height:50px;   
    display: inline-block;
    margin:0;
}

#menu-right {
    background: url("images/menu-right.png") no-repeat;
    width:11px;
    height:50px;
    display:inline-block;
    margin: 0;
}

#menu-middle {
    display: inline-block;
    width: 97%;
    height: 50px;
    background-color: #35b2f2;
    margin-left: -5px;
    margin-right: -5px;
}

#content {
    min-height: 500px;
    overflow: auto;
}

#log-in-form {
    width: 180px;
    float: left;
}

#log-in-form-top {
    background-image: url("images/login-form-top.png");
    width: 180px;
    height: 10px;
}
#log-in-form-bottom{
    background-image: url("images/login-form-bottom.png");
    width: 180px;
    height: 10px;
}
#log-in-form-middle {
    background-color: #35b2f2;
    width: 160px;
    height: 95%;
    padding: 10px;
}

#header {
    margin-bottom: 20px;    
}

.log-in {
    margin-top: -10px;
    color: white;
    font-size: 133%;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.menu-item a {
    color: white;    
}

a:hover {
    color: black;
}

input {
    margin-left: -1px;
}

#page-content {
    width: 100%;
    min-height: 500px;
    float: right;
}

#page-content-top {
    width: 801px;
    height: 10px;
    background-image:  url("images/page-content-top.png");
}

#page-content-middle {
    width: 761px;
    min-height: 400px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#page-content-bottom {
    width: 801px;
    height: 10px;
    background-image:  url("images/page-content-bottom.png");
}

h1 {
    margin-top: 0;
}

.last-p {
    margin-bottom: 0;
}

#footer {
    min-height: 50px;
    line-height: 50px;
    color: gray;
    text-align: center;
}

.menu-item {
    width: 90px;
    float: left;
    line-height: 53px;
    color: black !important;
    display: inline-block;
    font-size: 125%;
    text-align: center;
}

form[name='add_company'], form[name='updateCompany'], form[name='add_offer']{
    line-height: 33px;
}

form[name='add_company'] input[type='text'], 
form[name='add_company'] input[type='password']  {
    float: right;
    margin-bottom: 8px;
    margin-right: 330px;
}

form[name='add_offer'] input[type='text'],
form[name='add_offer'] input[type='password'],
select[name='category']{
    float: right;
    margin-bottom: 8px;
    margin-right: 425px;
}

input[type='text'], input[type='password']{
    width: 150px;
}

form[name='updateCompany'] input[type='text'],
form[name='updateCompany'] input[type='password']{
    float: right;
    margin-bottom: 8px;
    margin-right: 475px;
}

form[name='change_password'] {
    line-height: 24px;
}

form[name='change_password'] input[type='text'], form[name='change_password'] input[type='password']  {
    float: left;
    margin-bottom: 0px;
}

#email {
    margin-left: 90px; 
}

form[name='add_company'] input[name='other'] {
    width: 400px;
    margin-right: 80px !important;
}

input[name='other'], form[name="send_email_from_offer"] input[name='text'] {
    width: 400px;
    margin-right: 225px !important;
    height: 50px;
}

input[type="submit"] {
    margin-top: 10px;
}

#submenu {
    height: 23px;
    width: 97%;
    margin: auto;
}

#submenu-left {
    background-image: url("images/submenu-left.png");
    height: 23px;
    width: 10px;
    display: inline-block;
}

#submenu-middle{
    background-color: white;
    height: 23px;
    width: 34%;
    display: inline-block;
    margin-left: -5px;
    margin-right: -5px;
    vertical-align: top;
}

#submenu-right {
    background-image: url("images/submenu-right.png");
    height: 23px;
    width: 10px;
    display: inline-block;
}

.submenu-item {
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    margin-left: 10px;
}

.submenu-item a {
    color: black;
}

.submenu-item a:hover {
    color: #35b2f2;
}

.logout {
    float: right;
}

.logout a:hover {
    color: red;
}

.offers-table {
    width: 100%;
}

.offers-table a {
    color: #35b2f2;
}

form[name='login'] input[type='text'], form[name='login'] input[type='password'] {
    padding-left: 5px;
    width: 120px;

}

.error {
    border: 1px solid red;
    width: 100%;
    min-height: 52px;
    line-height: 53px;
    text-align: center;
    background-color: lightcoral;
}

.success {
    border: 1px solid green;
    width: 100%;
    min-height: 52px;
    line-height: 53px;
    text-align: center;
    background-color: lightgreen;
}

.info {
    margin-left: 277px;
    font-size: 88%;
    position: relative;
    top: -18px;
    margin-bottom: -20px;
}

#submenu-middle ul {
    list-style: none;
    padding: 0px 0px 0px 1px;
    margin: 2px 0 0 0;
    display: inline-table;
}

#submenu-middle ul li {
    display: inline-block;
    float: left;
}

#submenu-middle ul ul {
    display: none;
}

#submenu-middle ul li:hover > ul {
    display: block;
}

#submenu-middle ul li ul li{
    margin-left: 10px;
    background: white;
    width: 100px;
}

#submenu-middle ul li ul {
    background-color:   white;
    height: 180px;
    width: 100px;
    margin-top: -1px;
}

#submenu-middle ul li ul a {
    color:black;
}

#submenu-middle ul li ul a:hover {
    color: #35b2f2;
}

.browse {
    margin-right:10px;    
}

.offers-table td {
    text-align: center;
    border-bottom:  1px solid black;
}


.offers-table th {
    text-align: center;
    border-bottom:  2px solid black;
}

#recaptcha_widget_div {
    margin-top: 10px;
}

h1 {
    margin-bottom: 0;
    padding-bottom: 14px;    
}
